/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Cambria', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Optima', sans-serif;
  color: whitesmoke;
  text-shadow: #593B2A 2px 2px 2px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3,
h4,
h5,
h6 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
a {
  font-size: 1.6rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  background-color: #A6806A;
  background-image: url("/imgs/assets/background.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 3%;
}
.main {
  max-width: 800px;
}
.indexNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.indexNav .navCTAButton {
  display: none;
}
@media (min-width: 800px) {
  .indexNav .navCTAButton {
    display: block;
    width: 10rem;
    height: 3.5rem;
    border-radius: 5px;
    border: 1px groove #593B2A;
    padding: 0.75rem;
    background: #89bad9;
  }
  .indexNav .navCTAButton a {
    text-decoration: none;
    color: whitesmoke;
  }
  .indexNav .navCTAButton:hover {
    font-weight: bold;
  }
}
.indexNavMenu {
  display: block;
  transition-duration: 0.5s;
  background-color: #89bad9;
  width: 5.5rem;
  padding: 0 0.7rem;
  margin: 0.4rem 0;
  height: auto;
  border-radius: 3px;
  border: 1px groove #593B2A;
}
.indexNavMenu:hover {
  cursor: pointer;
}
.indexNavMenu .indexDropDown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0rem;
  left: 0.65rem;
  display: none;
  width: auto;
}
.indexNavMenu:hover > ul,
.indexNavMenu:focus-within > ul,
.indexDropDown:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.indexDropDown li {
  clear: both;
  width: 6rem;
  height: 2rem;
  text-align: center;
  padding: 0.25rem;
  padding-bottom: 2rem;
  background: #89bad9;
  border-radius: 4px;
  margin: 0.5rem;
  border: 1px solid #593B2A;
}
.indexDropDown li a {
  text-decoration: none;
  color: whitesmoke;
}
.indexDropDown li a:hover {
  color: #89bad9;
}
.indexDropDown li:hover {
  background: whitesmoke;
}
@media (min-width: 800px) {
  .wrapper.home .mobile {
    display: none;
  }
}
.wrapper.home .desktop {
  display: none;
}
@media (min-width: 800px) {
  .wrapper.home .desktop {
    display: block;
  }
}
.wrapper.home .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.wrapper.home .cta-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #593B2A;
  border-radius: 8px;
  background: #D98B48;
  background: -webkit-gradient(linear, left top, left bottom, from(#fca356), to(#996335));
  background: -moz-linear-gradient(top, #fca356, #996335);
  background: linear-gradient(to bottom, #fca356, #996335);
}
.wrapper.home .cta-btn a {
  text-decoration: none;
  color: whitesmoke;
  text-shadow: #593B2A 1px 1px 1px;
  font-size: 2.5rem;
}
.wrapper.home .cta-btn:hover,
.wrapper.home .cta-btn:focus {
  border: 1px solid #db8e4b;
  background: #ffc467;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc467), to(#b87740));
  background: -moz-linear-gradient(top, #ffc467, #b87740);
  background: linear-gradient(to bottom, #ffc467, #b87740);
}
.wrapper.home .cta-btn:active {
  background: #996335;
  background: -webkit-gradient(linear, left top, left bottom, from(#996335), to(#996335));
  background: -moz-linear-gradient(top, #996335, #996335);
  background: linear-gradient(to bottom, #996335, #996335);
}
.about nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  margin-left: 0rem;
  padding-top: 2rem;
}
.about .logo {
  width: auto;
  height: 11rem;
  padding-top: 0.7rem;
}
.aboutPromo {
  padding: 0.5rem;
  font-weight: bolder;
}
.about nav button {
  display: none;
  box-sizing: border-box;
  width: 10rem;
  height: 3.5rem;
  border-radius: 5px;
  border: 1px groove #593B2A;
  padding: 0.75rem;
  margin-right: 0rem;
  background: #89bad9;
}
.about nav button a {
  text-decoration: none;
  color: whitesmoke;
}
.about nav button :hover {
  font-weight: bold;
}
.about {
  height: 35rem;
}
.mainAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.mainAbout h1 {
  height: 6rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 1rem;
  padding-top: 0.8rem;
  color: #A6806A;
  background: whitesmoke;
  border: 2px solid #593B2A;
  border-radius: 8px;
}
.member {
  margin: 4rem;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.member .portrait {
  border: 1px solid whitesmoke;
  border-radius: 8px;
  box-shadow: 5px 5px 15px 6px #333333;
}
.member ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.member li {
  padding-left: 12.9%;
}
.member a img {
  width: 40%;
}
.member h2 {
  position: absolute;
  margin-top: 17rem;
}
.navMenu {
  display: block;
  margin-bottom: 10rem;
  transition-duration: 0.5s;
  background-color: #89bad9;
  width: 5.5rem;
  padding: 0 0.7rem;
  height: auto;
  border-radius: 3px;
  border: 1px groove #593B2A;
  position: absolute;
  left: 4%;
}
.navMenu :hover {
  cursor: pointer;
}
.dropDown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0%;
  margin-right: 15rem;
  display: none;
  width: 5.3rem;
}
.navMenu:hover > ul,
.navMenu:focus-within > ul,
.dropDown:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.dropDown li {
  clear: both;
  width: 6rem;
  height: 2rem;
  text-align: center;
  padding: 0.25rem;
  padding-bottom: 2rem;
  background: #89bad9;
  border-radius: 4px;
  margin: 0.5rem;
  border: 1px solid #593B2A;
}
.dropDown li a {
  text-decoration: none;
  color: whitesmoke;
}
.dropDown li :hover {
  color: #89bad9;
}
.dropDown li:hover {
  background: whitesmoke;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.features .cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
}
.features .cards .card {
  width: 90%;
  height: auto;
}
