/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Cambria', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Optima', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
a {
  font-size: 1.6rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  background-color: whitesmoke;
  background-image: url("/imgs/assets/background.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: device-width;
  margin: 0 auto;
}
.main {
  max-width: 800px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row;
}
header img {
  position: fixed;
  margin: 12px;
}
header ul {
  display: none;
}
header .btn {
  display: none;
}
header h1 {
  color: whitesmoke;
}
.about nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  margin-right: 1.55rem;
}
.logo {
  width: auto;
  height: 11rem;
  padding-top: 0.7rem;
}
.about nav button {
  border-radius: 5px;
  border: 1px groove #593B2A;
  padding: 0.75rem;
  margin-right: 2rem;
  background: #89BAD9;
}
.about nav button a {
  width: auto;
  height: auto;
  text-decoration: none;
  color: whitesmoke;
}
.about nav button :hover {
  color: #89BAD9;
}
.navMenu {
  display: block;
  transition-duration: 0.5s;
  background-color: #89BAD9;
  width: 5.5rem;
  padding: 0 0.7rem;
  margin: 0.4rem 0;
  height: auto;
  border-radius: 3px;
  border: 1px groove #593B2A;
}
.navMenu :hover {
  cursor: pointer;
}
.dropDown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 0rem;
  right: 0.8rem;
  display: none;
  width: auto;
}
.navMenu:hover > ul,
.navMenu:focus-within > ul,
.dropDown:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.dropDown li {
  clear: both;
  width: 6rem;
  height: 2rem;
  text-align: center;
  padding: 0.25rem;
  padding-bottom: 2rem;
  background: #89BAD9;
  border-radius: 4px;
  margin: 0.5rem;
  border: 1px solid #593B2A;
}
.dropDown li a {
  text-decoration: none;
  color: whitesmoke;
}
.dropDown li :hover {
  color: #89BAD9;
}
.dropDown li:hover {
  background: whitesmoke;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.features .cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
}
.features .cards .card {
  width: 90%;
  height: auto;
}
