.about {
  height: 35rem;
  .desktop {
    .flex(space-between, center, row);
    display: none;
    margin-left: 0rem;
    padding-top: 2rem;
  }
    @media @tablet {
        .desktop {
            display: flex;
        }
    }

  .logo {
    width: auto;
    height: 11rem;
    padding-top: 0.7rem;
  }

  .aboutPromo {
    padding: 0.5rem;
    font-weight: bolder;
  }
  
  .navCTAButton {
        display: block;
        width: 10rem;
        height: 3.5rem;
        border-radius: 5px;
        border: 1px groove @darkbrown;
        padding: 0.75rem;
        background: @orange;
        a {
          text-decoration: none;
          color: whitesmoke;
          font-size: 1.6rem;
        }
        &:hover {
          font-weight: bold;
        }
      }
  .mainAbout {
    .flex(center, center, column);
    h1 {
      height: 6rem;
      margin-top: 3rem;
      margin-bottom: 4rem;
      padding: 1rem;
      padding-top: 0.8rem;
      color: @lightbrown;
      background: whitesmoke;
      border: 2px solid @darkbrown;
      border-radius: 8px;
    }
  }

  .member {
    margin: 4rem;
    margin-top: 0;
    margin-bottom: 8rem;
    max-height: 900vw;
    .flex(center, center, column);
    .portrait {
      max-width: 38rem;
      border: 1px solid whitesmoke;
      border-radius: 8px;
      box-shadow: 5px 5px 15px 6px rgb(51, 51, 51);
    }
    ul {
      .flex(space-between, center, row);
      max-width: 34rem;
    }
    li {
      padding-left: 12.9%;
    }
    a img {
      width: 40%;
    }
    a img:hover {
      opacity: 0.5;
    }
    h2 {
      position: absolute;
      margin-top: 4rem;
    }
    h3 {
      color: @lightblue;
      font-size: 2.75rem;
    }
    p {
      box-sizing: border-box;
      padding: 2rem 0;
      max-width: 400px;
    }
  }

  // Drop down Nav Menu *********
  @media@tablet {
      .mobile {display: none;}
  }
  .navMenu {
    display: block;
    padding-bottom: 10rem;
    transition-duration: 0.5s;
    :hover {
      cursor: pointer;
    }
    background-color: @lightblue;
    width: 5.5rem;
    padding: 0 0.7rem;
    height: auto;
    border-radius: 3px;
    border: 1px groove @darkbrown;
    position: absolute;
    left: 4%;
  }
  .menuContainer {
    height: 5rem;
    width: 5rem;
  }
  .dropDown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    left: 0%;
    margin-right: 15rem;
    display: none;
    width: 5.3rem;
  }

  .navMenu:hover > ul,
  .navMenu:focus-within > ul,
  .dropDown:hover {
    visibility: visible;
    opacity: 1;
    .flex(center, center, column);
  }

  .dropDown li {
    clear: both;
    width: 6rem;
    height: 2rem;
    text-align: center;
    padding: 0.25rem;
    padding-bottom: 2rem;
    background: @lightblue;
    border-radius: 4px;
    margin: 0.5rem;
    border: 1px solid @darkbrown;
    a {
      text-decoration: none;
      color: whitesmoke;
    }
    :hover {
      color: @lightblue;
    }
  }
  .dropDown li:hover {
    background: whitesmoke;
  }
}
// Drop down Nav Menu ^^^^^^^^^^^^
