.contact {
    height: 35rem;
  .desktop {
    .flex(space-between, center, row);
    display: none;
    margin-left: 0rem;
    padding-top: 2rem;
  }
    @media @tablet {
        .desktop {
            display: flex;
        }
    }

  // Drop down Nav Menu *********
  @media@tablet {
      .mobile {display: none;}
  }
// Drop down Nav Menu ^^^^^^^^^^^^

  
}