.contact {
    height: 35rem;
  .desktop {
    .flex(space-between, center, row);
    display: none;
    margin-left: 0rem;
    padding-top: 2rem;
  }
    @media @tablet {
        .desktop {
            display: flex;
        }
    }

  .logo {
    width: auto;
    height: 11rem;
    padding-top: 0.7rem;
  }

  .aboutPromo {
    padding: 0.5rem;
    font-weight: bolder;
  }

  .navCTAButton {
    display: block;
    width: 10rem;
    height: 3.5rem;
    border-radius: 5px;
    border: 1px groove @darkbrown;
    padding: 0.75rem;
    background: @orange;
    a {
      text-decoration: none;
      color: whitesmoke;
      font-size: 1.6rem;
    }
    &:hover {
      font-weight: bold;
    }
  }

  // Drop down Nav Menu *********
  @media@tablet {
      .mobile {display: none;}
  }
// Drop down Nav Menu ^^^^^^^^^^^^

  
}