.contact {
    height: 35rem;
  .desktop {
    .flex(space-between, center, row);
    display: none;
    margin-left: 0rem;
    padding-top: 2rem;
  }
    @media @tablet {
        .desktop {
            display: flex;
        }
    }

  // Drop down Nav Menu *********
  @media@tablet {
      .mobile {display: none;}
  }
// Drop down Nav Menu ^^^^^^^^^^^^
}

#main {
  .flex(center,center,column);
  background-color: rgba(0,0,0,.4);
  border-radius: 8px;
  border: solid 1px black;
  width: 100%;
  height: 50rem;

  .required {
    color: white;
  }
  
}