* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Cambria", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Optima", sans-serif;
  color: whitesmoke;
  text-shadow: @darkbrown 2px 2px 2px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h3,
h4,
h5,
h6 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

a {
  font-size: 1.6rem;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding: 3%;

  height: 300px;
  background-color: @lightbrown;
  background-image: url("/imgs/assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.mobile {
  @media @desktop {
    display: none;
  }
}
.desktop {
  display: none;
  @media @desktop {
    display: block;
  }
}