nav {
    .flex(space-evenly,center,row);
    background-color: rgba(207, 92, 54, 0.8);
    padding: 1rem;

    ul {
        width: 90%;
        .flex(space-evenly,center,row);

        a {
            text-decoration: none;
            color: @lightblue;
            font-size: 1.5rem;
        }
    }
}