// Colors
@lightblue: rgb(137, 186, 217);
@orange: #D98B48;
@darkbrown: #593B2A;
@lightbrown: rgb(166, 128, 106);
@red: #D95555;
//Escapes
@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 840px)";
